{{#each feedbacks}}
<div class="form-feedback">
    <span class="name-us">{{userName}}</span>
    <p class="place-z">{{place}} {{date}}</p>
    <P> {{feedback}}</P>
</div>
{{else}}
<div class="form-feedback">
    <p>Нет отзывов ...</p>
</div>
{{/each}}